{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Django People</title>
    <script>
        var upcomingEnabledFeatures = [];
        $(document).ready(function() {
            var enabledFeaturesFeatures = $('#enabledFeatures').val();

            function selectedFeature(feature) {
                console.log(feature)
                if (feature.includes("program_core")) { 
                    $('#program_checkbox').prop('checked', true);
                } if (feature.includes("program_activity")) { 
                    $('#programActivity_checkbox').prop('checked', true);
                } if (feature.includes("program_operational")) { 
                    $('#programOperational_checkbox').prop('checked', true);
                } 
                
                if (feature.includes("financialreport_core")){
                    $('#financial_checkbox').prop('checked', true);
                } if (feature.includes("financialreport_income")){
                    $('#financialIncome_checkbox').prop('checked', true);
                } if (feature.includes("financialreport_expense")){
                    $('#financialExpense_checkbox').prop('checked', true);
                }

                if (feature.includes("email")) {
                    $('#email_checkbox').prop('checked', true);
                } if (feature.includes("whatsapp")) {
                    $('#whatsapp_checkbox').prop('checked', true);
                }
            };

            function isFeatureSelected() {
                if ($('#program_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("program_core")
                } if ($('#programActivity_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("program_activity")
                } if ($('#programOperational_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("program_operational")
                } 
                
                if ($('#financial_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("financialreport_core")
                } if ($('#financialIncome_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("financialreport_income")
                } if ($('#financialExpense_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("financialreport_expense")
                }

                if ($('#email_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("email")
                } if ($('#whatsapp_checkbox').is(':checked')) {
                    upcomingEnabledFeatures.push("whatsapp")
                }
            };

            $("button").click(function(){
                isFeatureSelected();
                $('#enabledFeatures').val(upcomingEnabledFeatures)
            });

            selectedFeature($('#enabledFeatures').val());
        });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Notification Settings</h1>
          <hr class="mt-0 mb-4">
            <input id="program_checkbox" type="checkbox" /> Program </br>
            <input id="programActivity_checkbox" type="checkbox" /> Program Activity </br>
            <input id="programOperational_checkbox" type="checkbox" /> Program Operational </br></br>

            <input id="financial_checkbox" type="checkbox" /> Financial </br>
            <input id="financialIncome_checkbox" type="checkbox" /> Financial Income </br>
            <input id="financialExpense_checkbox" type="checkbox" /> Financial Expense </br></br>

            Send Notification Through</br>

            <input id="email_checkbox" type="checkbox" /> Email </br>
            <input id="whatsapp_checkbox" type="checkbox" /> WhatsApp </br></br>

            <form method="post" action="/notification_settings/{{ notification_profile.email }}">
                {% csrf_token %}
                <input type="hidden" id="enabledFeatures" name="enabledFeatures" value="{{ notification_profile.enabledNotifications.data }}" />
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>